textarea {
    overflow-y: scroll;
    overflow: scroll;
    width: auto;
    height: auto;
    resize: none; /* Remove this if you want the user to resize the textarea */
    border:solid 3px rgb(0, 0, 0)
}

body, html{
    background-color: #00a096;
}